@-webkit-keyframes zoomin2 {
    0% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
    }
  }
  
  #register-background-zoom {
    text-align: center;
    background: url("../../images/registerBackground.jpg") center fixed
      no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    -webkit-animation: zoomin2 2.5s ease-in, blurOut 2.5s ease-in;
    animation-fill-mode: forwards;
  }
  
  
  @-webkit-keyframes blurIn {
    0% {
      -webkit-filter: blur(20px)
      
    }
    100% {
      -webkit-filter: blur(0px)
    }
  }
  
  @-webkit-keyframes blurOut {
    0% {
      -webkit-filter: blur(0px)
      
    }
    100% {
      -webkit-filter: blur(20px)
    }
  }
  
  #register-background-initZoom {
    text-align: center;
    background: url("../../images/registerBackground.jpg") center fixed
      no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
   -webkit-animation: zoomin 12s ease-out;
   animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes zoomin {
    0% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.3);
    }
  }

  .input-field {
    margin-bottom: 0;
  }

  .registerHeader {
    font-size: 40px;
    color: rgb(96, 190, 245);
    text-align: center;
    padding-top: 5%;
    text-shadow: 1px 1px 3px #fdfdfd;
    font-family: 'Berkshire Swash', cursive;
  }

  #signUp {
    text-align: center;
    color: rgba(255, 255, 255, 0.651);
  }

  #registerInput {
    
    color: white;
    
  }

  #registerInput:focus {
    border-bottom: rgb(40, 162, 233);
  }

  .registerButton {
    background-color: rgb(40, 162, 233);
    border: 1px solid white;
    margin-bottom: 5%;
    border-radius: 25px;
  }

  .registerButton:hover {
    color: rgb(40, 162, 233);
    background-color: white;
  }


  #registerContainer {
    margin-top: 25%;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 13px 0px rgba(0,0,0,0.75);
box-shadow: 4px 5px 13px 0px rgba(0,0,0,0.75);
padding: 0 20px;
  }



  


 