#Dashboard-background {
    /* background: url("../../images/dashboardbackground2.png") fixed center no-repeat; */
    /* background-color: white; */
    background: url('../../images/topography.png');
    position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
  padding-bottom: 30px;
  /* background-color: rgba(255, 255, 255, 0.753); */
  
}

@-webkit-keyframes blurIn {
  0% {
    -webkit-filter: blur(100px)
    
  }
  100% {
    -webkit-filter: blur(0px)
  }
}

#blur-in-background {
  /* -webkit-animation: blurIn 0.75s ease-in */
}

.dashboard {
  margin-top: 45px;
}

#header-background {
  background: url('../../images/boatwood.jpg');
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0.7;
  height: 100px;
  -webkit-box-shadow: 2px 10px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 5px -6px rgba(0,0,0,0.75);
box-shadow: 2px 10px 5px -6px rgba(0,0,0,0.75);
margin-bottom: 25px;
}

.card {
  -webkit-box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
}

#docking-area {
  background-color: rgba(145, 174, 194, 0.952);
  height: 100%;
  text-align: center;
  border-radius: 25px;
  padding-bottom: 40px;
  -webkit-box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
box-shadow: 6px 7px 20px -3px rgba(0,0,0,0.75);
  
}

h1 {
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  position:absolute;
  top: 0;
  width: 100%;
  text-shadow:0px 3px 10px #050504;
  
}

h3 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  /* text-shadow:0px 3px 2px #050504; */
}

#dashboard-footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: 0.8;
  
}


