.wheel{
    width: 150px;
    height: 150px;
}

#wheel:hover{
    width: 150px;
    height: 150px;
    z-index: 30;
     -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}