
#wheel{
    width: 150px;
    height: 150px;
    z-index: 30;
     -webkit-animation: spin 10s infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); 
  }
  50% {
    -webkit-transform: rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}