#destination-background-zoom {
  text-align: center;
  background: url("../../images/destination_background.png") center fixed
    no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  -webkit-animation: zoomin2 1.5s;
}

@-webkit-keyframes zoomin2 {
  0% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(2);
  }
}

#destination-background-initZoom {
  text-align: center;
  background: url("../../images/destination_background.png") center fixed
    no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  -webkit-animation: zoomin 15s linear;
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
  }
}