@-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translate3d(-100%, 0, -100%);
      visibility: visible;
    }
  
    50% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  }

  /* @-webkit-keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(100%, 0, 0);
    }
  } */

  #modal-message{
    -webkit-animation: slideInLeft 4s infinite;

  }
 