@-webkit-keyframes slideInL {
    0% {
      -webkit-transform: translateX(-100%);
      visibility: visible;
    }
  
    50% {
      -webkit-transform: translateX(0%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(100%);
      visibility: visible;
    }
  }

  #modal-message{
    -webkit-animation: slideInL 4s infinite;
  }
