@-webkit-keyframes slideInL {
    0% {
      -webkit-transform: translateX(-100%);
      visibility: visible;
    }
  
    50% {
      -webkit-transform: translateX(0%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(100%);
      visibility: visible;
    }
  }

  /* @-webkit-keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(100%, 0, 0);
    }
  } */

  #modal-message{
    -webkit-animation: slideInL 4s infinite;
  }
