/*///////////////////////////////////////////////

Global

////////////////////////////////////////////////*/

.button {
  background-color: rgb(40, 162, 233);
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

.button:hover {
  color: rgb(40, 162, 233);
  background-color: white;
}


/*///////////////////////////////////////////////

Home Page Design

////////////////////////////////////////////////*/

body {
  overflow: hidden;
}
.home-content {
  text-align: center;
}
#continueAsGuestButton,
#loginButton {
  width: 40%;
  font-size: 150%;
  border-radius: 25px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 3%;
}

#homeHeader {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

#registerTextContainer {
  margin-top: 3%;
}


/*////////////////////////////////////////////////// 

Login Page Design

//////////////////////////////////////////////////*/
.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center
}
.loginContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#loginForm{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#loginEmailInput {
  width: 90%;
  color: white;
  size: 50px;
  border-bottom: 2px solid white;
  font-family: "Slabo 27px", serif;
  /* text-align: center; */
}

#usernameHeader {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
}

#loginPasswordInput {
  width: 90%;
  color: white;
  size: 50px;
  border-bottom: 2px solid white;
  font-family: "Slabo 27px", serif;
  /* text-align: center; */
}

#passwordHeader {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
}

.loginHeader {
  font-size: 60px;
  color: white;
  text-align: center;
  padding-top: 5%;
  font-family: 'Poiret One', cursive;
}

/*////////////////////////////////////////////////// 

Voyages Page

//////////////////////////////////////////////////*/


.vCard{
  color: white;
    background-color: rgba(0, 0, 0, 0.719);
    -webkit-box-shadow: 4px 5px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 13px 0px rgba(0,0,0,0.75);
    margin-bottom: 2.5%;
}

/*////////////////////////////////////////////////// 

Register Page Design

//////////////////////////////////////////////////*/


/* .register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center
}
.registerContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#registerForm{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
} */

#registerFirstNameInput,
#registerLastNameInput,
#registerEmailInput,
#registerPasswordInput  {
  /* width: 90%; */
  color: white;
  size: 50px;
  border-bottom: 2px solid white;
  font-family: "Slabo 27px", serif;
  /* text-align: center; */
}


.registerHeader {
  font-size: 60px;
  color: white;
  text-align: center;
  padding-top: 5%;
  font-family: 'Poiret One', cursive;
}



/* Navbar ///////////////////////////////////// */

nav ul a:hover {
  background-color: rgba(245, 245, 245, 0.377)
}

.navGreeting > a:hover {
  background-color: black;
  cursor: default;
}

.navGreeting > a {
  font-family: 'Poiret One', cursive;
  font-size: 40px
}
#navGreeting > a {
  color: black
}

#nav > .nav-wrapper {
  margin-left: 1%;
  margin-right: 1%;

}

.captainLogButtonNav > a:hover {
  background-color: black;
  cursor: default;
}




/* Footer*/
.footer-link:hover {
  color: rgb(0, 153, 255) !important
}

#footer > div.container {
  width: 95%
}

#footer > div.footer-copyright {
  width: 100%;
  text-align: center
}