/*///////////////////////////////////////////////

Home Page Design

////////////////////////////////////////////////*/

#saved-trips {
  float: left;
  color: white;
  font-size: 18px;
  opacity: 0.8;
  font-family: "Nanum Myeongjo", serif;
  margin: 20px 0 0 20px;
  font-weight: bold;
  z-index: 1;
}

#trip-name-form {
  padding-top: 115px;
  text-align: center;
}

#trip-name-input {
  width: 50%;
  color: white;
  size: 50px;
  border-bottom: 3px solid white;
  font-family: "Slabo 27px", serif;
  text-align: center;
}

#trip-name-header {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
}

#logo {
  margin-top: 40px;
  height: 90px;
  width: 90px;
  filter: invert(100%);
}

#logo2 {
  width: 400px;
  height: 200px;
  float: left;
  margin-top: 90px;
}

/*////////////////////////////////////////////////// 

Destination Page Design

//////////////////////////////////////////////////*/

#saved-trips {
  float: left;
  color: white;
  font-size: 18px;
  opacity: 0.8;
  font-family: "Nanum Myeongjo", serif;
  margin: 20px 0 0 20px;
  font-weight: bold;
}

#destination-form {
  padding-top: 115px;
  text-align: center;
}

#origin-input {
  width: 50%;
  color: white;
  size: 50px;
  border-bottom: 3px solid white;
  font-family: "Slabo 27px", serif;
  text-align: center;
}

#origin-header {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
}

#destination-input {
  width: 50%;
  color: white;
  size: 50px;
  border-bottom: 3px solid white;
  font-family: "Slabo 27px", serif;
  text-align: center;
}

#destination-header {
  color: white;
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  margin-bottom: 0;
}

#logo {
  margin-top: 40px;
  height: 90px;
  width: 90px;
  filter: invert(100%);
}

#logo2 {
  width: 400px;
  height: 200px;
  float: left;
  margin-top: 90px;
}
